.theme--dark.v-application {
  background: none !important;
}

#background-image {
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url(books.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  -ms-touch-action: none;
      touch-action: none;
}

input {
  text-align: center;
}

label.v-label,
.v-input__slot,
#infos input,
#boutonRoutine .v-btn__content,
.container,
.subtitle,
#box {
  color: #ffffff !important;
}

.v-input {
  max-width: 125px;
}

.container {
  min-width: 80%;
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  min-width: 100%;
  text-align: center;
}

#app {
  max-height: 100vh;
}

.subtitle {
  font-weight: bold;
  text-shadow: 1px 2px #000000;
  font-size: 42px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#infos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#box {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#settings v-input {
  max-width: 100px;
}

#footer {
  padding: 10px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.6rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer p {
  margin-bottom: 0px !important;
}

#footer a {
  color: #ffa500 !important;
}
/*# sourceMappingURL=style.css.map */