@import 'variables.scss';
.theme--dark.v-application {
    background: none !important;
}

#background-image {
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url(books.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    touch-action: none;
}

input {
    text-align: center;
}

label.v-label,
.v-input__slot,
#infos input,
#boutonRoutine .v-btn__content,
.container,
.subtitle,
#box {
    color: $blanc !important;
}

.v-input {
    max-width: 125px;
}

.container {
    min-width: 80%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 100%;
    text-align: center;
}

#app {
    max-height: 100vh;
}

.subtitle {
    font-weight: bold;
    text-shadow: 1px 2px $noir;
    font-size: 42px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#infos {
    flex-direction: column;
}

#box {
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#settings v-input {
    max-width: 100px;
}

#footer {
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;
    max-height: fit-content;
    flex-grow: 1;
    align-items: center;
}

#footer p {
    margin-bottom: 0px !important;
}

#footer a {
    color: #ffa500 !important;
}