table#tableRoutine {
  text-align: center;
  color: #000000;
}

table#tableRoutine > thead {
  background-color: #ffffff;
}

table#tableRoutine > thead > tr:nth-child(1) {
  font-weight: bold;
}

table#tableRoutine > thead > tr:not(:nth-child(1)) {
  font-weight: normal;
}

table#tableRoutine,
table#tableRoutine > thead > tr,
table#tableRoutine > thead > tr > th,
table#tableRoutine > thead > tr > td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
/*# sourceMappingURL=table.css.map */