<template>
    <v-app>
        <div id="background-image" />
        <div class="container">
            <div id="header">
                <h2 class="subtitle">Routine de lecture</h2>
            </div>

            <v-container id="box">
                <div id="infos">
                    <v-text-field
                        id="pageDepart"
                        v-model="pageDepart"
                        label="Page de départ"
                        color="#ffd8da"
                        autocomplete="off"
                        class="centered-input text-center"
                        :rules="rules.page"
                        required
                    ></v-text-field>

                    <v-text-field
                        id="pageFin"
                        v-model="pageFin"
                        label="Page de fin"
                        color="#ffd8da"
                        autocomplete="off"
                        class="centered-input text-center"
                        :rules="rules.page"
                        required
                    ></v-text-field>

                    <v-menu
                        v-model="menu[0]"
                        :close-on-content-click="true"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                        max-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                slot="activator"
                                :value="formatDateDepart"
                                :label="dates[0].id"
                                readonly
                                @input="menu[0] = false"
                                v-on="on"
                            >
                            </v-text-field>
                        </template>

                        <v-date-picker
                            v-model="dates[0].date"
                            locale="fr"
                            show-current="true"
                            header-color="#6131e0"
                            color="#6131e0"
                        ></v-date-picker>
                    </v-menu>

                    <v-menu
                        v-model="menu[1]"
                        :close-on-content-click="true"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                        max-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                slot="activator"
                                :value="formatDateFin"
                                :label="dates[1].id"
                                readonly
                                @input="menu[1] = false"
                                v-on="on"
                            >
                            </v-text-field>
                        </template>

                        <v-date-picker
                            v-model="dates[1].date"
                            locale="fr"
                            :min="minDate"
                            show-current="true"
                            header-color="#6131e0"
                            color="#6131e0"
                        ></v-date-picker>
                    </v-menu>

                    <v-text-field
                        id="nomLivre"
                        v-model="nomLivre"
                        label="Nom du livre"
                        color="#ffd8da"
                        autocomplete="off"
                        class="centered-input text-center"
                    ></v-text-field>
                </div>

                <div
                    v-show="
                        dates[0].date != dates[1].date &&
                            nbPagesParJour > 0 &&
                            totalJours > 0
                    "
                    id="routine"
                >
                    <p>
                        {{ afficherPage(nbPagesParJour) }} par jour du
                        {{ formatDateDepart }}

                        <span v-show="nbPagesDernierJour > 0">
                            au {{ avantDernierJour }} et
                            {{ afficherPage(nbPagesDernierJour) }} le
                            {{ formatDateFin }}. </span
                        ><span v-show="nbPagesDernierJour == 0">
                            au {{ formatDateFin }}.
                        </span>
                    </p>
                    <p v-show="totalPages > 0">
                        Total de pages : {{ totalPages }}
                    </p>
                    <p v-show="totalJours > 0">
                        Total de jours : {{ totalJours }}
                    </p>
                    <v-btn
                        id="boutonRoutine"
                        rounded
                        color="#6131e0"
                        light
                        @click="telechargerRoutine()"
                        >Télécharger le planning</v-btn
                    >
                    <table id="tableRoutine" style="display: none;"></table>
                </div>
            </v-container>
        </div>
        <div id="footer">
            <p>
                Photo by
                <a
                    href="https://unsplash.com/@drewcoffman?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                    >Drew Coffman</a
                >
                on
                <a
                    href="https://unsplash.com/s/photos/books?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                    >Unsplash</a
                >
            </p>
            <p>
                Icon by
                <a
                    href="https://www.flaticon.com/authors/flat-icons"
                    title="Flat Icons"
                    >Flat Icons</a
                >
                on
                <a href="https://www.flaticon.com/" title="Flaticon"
                    >www.flaticon.com</a
                >
            </p>
        </div>
    </v-app>
</template>

<script>
import moment from 'moment';
import rt from 'assets/routineLecture.js';
import 'jspdf-autotable';
export default {
    components: {},

    data: () => ({
        pageDepart: 1,
        pageFin: 2,
        nomLivre: '',
        dates: [
            {
                id: 'Date de départ',
                date: new Date().toISOString().substr(0, 10)
            },
            { id: 'Date de fin', date: new Date().toISOString().substr(0, 10) }
        ],
        menu: [],
        modal: false,

        rules: {
            page: [val => val > 0 || `Numéro de page incorrect`]
        }
    }),

    computed: {
        formatDateDepart() {
            return moment(this.dates[0].date).format('DD/MM/YYYY');
        },

        formatDateFin() {
            return moment(this.dates[1].date).format('DD/MM/YYYY');
        },

        avantDernierJour() {
            const avJour = moment(this.dates[1].date).subtract(1, 'days');
            return avJour.format('DD/MM/YYYY');
        },

        minDate() {
            return this.dates[0].date ? this.dates[0].date : null;
        },

        totalPages() {
            return this.pageFin - this.pageDepart + 1;
        },

        totalJours() {
            const depart = moment(this.dates[0].date);
            const fin = moment(this.dates[1].date);
            return fin.diff(depart, 'days') + 1;
        },

        nbPagesParJour() {
            const quotient = (this.totalPages / this.totalJours) >> 0;
            const reste = this.totalPages % this.nbJours;
            return reste === 0 ? quotient : quotient + 1;
        },

        nbPagesDernierJour() {
            const totalTheorique = this.nbPagesParJour * this.totalJours;
            const reste =
                this.totalPages - this.nbPagesParJour * (this.totalJours - 1);
            return totalTheorique !== this.totalPages ? reste : 0;
        }
    },

    methods: {
        afficherPage(nbPages) {
            const suffix = nbPages > 1 ? ' pages' : ' page';
            return nbPages + suffix;
        },
        telechargerRoutine() {
            rt.construireRoutine(
                this.dates[0].date,
                parseInt(this.pageDepart),
                parseInt(this.pageFin),
                this.nbPagesParJour,
                this.totalPages
            );

            rt.exportPDF(this.nomLivre);
        }
    }
};
</script>
<style lang="scss">
@import 'assets/scss/style.css';
@import 'assets/scss/table.css';
</style>
